html {
  /* Based on https://horizontheme.netlify.app/ */
  --color-syntax-1: #b877db;
  --color-syntax-2: #25b2bc;
  --color-syntax-3: #e95678;
  --color-syntax-4: #f09383;
  --color-syntax-5: #fab795;
  --color-syntax-6: #fac29a;

  --color-ui-1: #16161c;
  --color-ui-2: #1a1c23;
  --color-ui-3: #1c1e26;
  --color-ui-4: #232530;
  --color-ui-5: #2e303e;
  --color-ui-6: #6c6f93;
  --color-ui-7: #e9436f;
  --color-ui-8: #e95379;
  --color-ui-9: #f43e5c;
  --color-ui-10: #09f7a0;
  --color-ui-11: #27d796;
  --color-ui-12: #21bfc2;
  --color-ui-13: #fab28e;

  --background-color: var(--color-ui-1);
  --background-color-light: var(--color-ui-3);
  --background-color-light-2: var(--color-ui-5);
  --font-color: white;
  --font-color-light: var(--color-syntax-6);
  --font-color-link: var(--color-syntax-2);
  --font-color-link-hover: var(--color-syntax-3);
  --line-color: var(--color-ui-6);
  --shadow-color: var(--color-ui-11);

  --header-gap: 0.5rem;
  --padding-side: 2rem;

  font-family: "Fira Code", Consolas, "Courier New", monospace;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  color: var(--font-color);
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--color-syntax-1);
}
h2 {
  color: var(--color-syntax-1);
}
h3 {
  color: var(--color-syntax-3);
}
h4 {
  color: var(--color-syntax-4);
}
h5 {
  color: var(--color-syntax-5);
}

pre {
  background-color: var(--background-color-light);
  overflow-x: auto;
  padding: 1rem;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  color: var(--font-color-link);
}

a:hover {
  color: var(--font-color-link-hover);
}

article {
  margin: 0px;
}

.container {
  padding: 0 var(--padding-side);
  max-width: 1344px;
  margin: 0 auto;
}

.section {
  padding: 3rem 0rem;
}

.columns {
  display: flex;
  justify-content: center;
  row-gap: 2rem;
}

.columns .column {
  flex: 1;
}

.columns .column.column-shrink {
  flex: 0;
}

.columns.multiline {
  flex-wrap: wrap;
}

.has-text-centered {
  text-align: center;
}

.card {
  border-radius: 1rem;
  background-color: var(--background-color-light);
  padding: 0.5rem 1.25rem;
}

.links p {
  margin: 0px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.tag {
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--background-color-light-2);
  color: var(--font-color-light);
}
